<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <caption>
      <h2>All Cookies</h2>
    </caption>
    <thead>
      <tr>
        <th>Cookie Name</th>
        <th>Count</th>
        <th>Price</th>
        <th>Price Per Dozen</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |cookie|}}
      <tr>
        <td class="cookie-name">{{ cookie.name }}</td>
        <td class="cookie-count">{{ cookie.count }}</td>
        <td class="cookie-price">{{ cookie.price }}</td>
        <td class="cookie-per-dozen">{{ cookie.priceDozen }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="container">
  <div class="contents">
    {{outlet}}
  </div>
</div>
